name: test and build bottles
on:
  pull_request:
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-26, macos-15, macos-15-intel]
    runs-on: ${{ matrix.os }}
    permissions:
      actions: read
      checks: read
      contents: read
      pull-requests: read
    steps:
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@main

      - name: Cache Homebrew Bundler RubyGems
        uses: actions/cache@v4
        with:
          path: ${{ steps.set-up-homebrew.outputs.gems-path }}
          key: ${{ matrix.os }}-rubygems-${{ steps.set-up-homebrew.outputs.gems-hash }}
          restore-keys: ${{ matrix.os }}-rubygems-

      - name: Tap and checkout PR branch
        run: |
          brew tap brendan-nasa/hello-world https://github.com/brendan-nasa/hello-world
          TAP_DIR="$(brew --repository)/Library/Taps/brendan-nasa/homebrew-hello-world"
          cd "$TAP_DIR"
          PR="${{ github.event.pull_request.number }}"
          git fetch origin "+refs/pull/${PR}/head:refs/remotes/origin/pr-${PR}"
          git checkout -b "pr-${PR}" "origin/pr-${PR}"
      - name: Install dependencies
        run: brew install --only-dependencies --build-from-source brendan-nasa/hello-world/hello-world

      - name: Install formula
        run: brew install --build-bottle brendan-nasa/hello-world/hello-world

      - name: Run brew test
        run: brew test brendan-nasa/hello-world/hello-world

      - name: Run brew audit
        run: brew audit --formula --strict brendan-nasa/hello-world/hello-world

      - name: Run brew style
        run: brew style brendan-nasa/hello-world/hello-world

      - name: Build bottle
        run: |
          VERSION="$(brew info --json brendan-nasa/hello-world/hello-world | jq -r '.[0].versions.stable')"
          brew bottle \
            --json \
            --root-url "https://github.com/brendan-nasa/hello-world/releases/download/hello-world-${VERSION}" \
            brendan-nasa/hello-world/hello-world

      - name: Upload bottles as artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: bottles_${{ matrix.os }}
          path: "*.bottle.*"
